@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  /*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
  --sl-font: var(--font-space-grotesk), sans-serif;
  --sl-font-system-mono: var(--font-space-mono), monospace;

  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-space-mono);

  --color-gray-900: black;
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/
